.map {
  text-align: center;
}

path:hover {
  fill-opacity: 0.7;
}

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: #00b9ad;
  cursor: pointer;
}

.feature.active {
  fill: #ccc;
}

.mesh {
  fill: none;
  stroke: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}
